<table>
    <tr>
        <th><img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_2x.png" /></th>
        <th>Age</th>
        <th>Sex</th>
        <th>Birthday</th>
        <th>Color</th>
        <th>Description</th>
    </tr>
     
        <td><%= @cat.name %></td>
        <td><%= @cat.age %></td>
        <td><%= @cat.sex %></td>
        <td><%= @cat.birth_date %></td>
        <td><%= @cat.color %></td>
        <td><%= @cat.description %></td>

    <h1>Current Rental Requests</h1>
    <ul>
        <% ordered_cats = @cat.rental_requests.order(:start_date) %>
        <% ordered_cats.each do %>
            <li>Start Date: <%= request.start_date %>, End Date: <% request.end_date %></li>
        <% end %>
    </ul>
</table>