<table>
    <tr>
        <th><img src="http://placekitten.com/g/231/231" /></th>
        <th>Age</th>
        <th>Sex</th>
        <th>Birthday</th>
        <th>Color</th>
        <th>Description</th>
    </tr>
     
        <td><%= @cat.name %></td>
        <td><%= @cat.age %></td>
        <td><%= @cat.sex %></td>
        <td><%= @cat.birth_date %></td>
        <td><%= @cat.color %></td>
        <td><%= @cat.description %></td>
</table>

 <h2>Rental Requests</h2>
 <table>
    <tr>
        <th>User</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
    </tr>
    <% @cat.rental_requests.order('start_date').each do |request| %>
        <%= render "request_table", req: request %>
    <% end %>
</table>